@use "../../variables/breakpoints" as breakpoint;
@use "../../variables/palette" as palette;
@use "../../variables/text" as text;

.x-header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 0px;
    width: 100%;
    background: palette.$white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    .x-logo {
        margin-right: 15px;
        width: 36px;
        height: 36px;
        transition: all 0.2s;

        @media (min-width: breakpoint.$md) {
            width: 48px;
            height: 48px;
        }
    }

    h1 {
        color: palette.$primary;
        font-size: text.$fontSizeM;
        transition: all 0.2s;

        @media (min-width: breakpoint.$md) {
            font-size: text.$fontSizeXL;
        }
    }
}
